@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monsterrat, sans-serif;
}

.mobileNav {
    display: none;
}

.layout {
    display: flex;
    flex-direction: column;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 5px;
    text-decoration-color: #ECBA46;
}

.underlineMain {
    text-decoration: underline;
    text-underline-offset: 25px;
    text-decoration-thickness: 10px;
    text-decoration-color: #ECBA46;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    color: #000000;
    margin: 105px 0 73px 0;
}

h2 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #000000;
    margin: 105px 0 73px 0;
}

.networks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}

.network {
    display: block;
    transition: all 0.3s ease;
}

.vk {
    background-image: url('./img/networks/vk.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.vk:hover {
    background-image: url('./img/networks/vk-hover.svg');
}

.facebook {
    background-image: url('./img/networks/facebook.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.facebook:hover {
    background-image: url('./img/networks/facebook-hover.svg');
}

.twitter {
    background-image: url('./img/networks/twitter.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.twitter:hover {
    background-image: url('./img/networks/twitter-hover.svg');
}

.instagram {
    background-image: url('./img/networks/instagram.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.instagram:hover {
    background-image: url('./img/networks/instagram-hover.svg');
}

.btn {
    padding: 9px 25px;
    border-radius: 130px;
    border: 1px solid #FFF;
    background-color: transparent;
    color: #FFF;
    transition: background-color 0.3s ease;
}

.btn:hover {
    color: black;
    background-color: #FFF;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    font-size: 20px;
    font-weight: 500;
    align-self:self-end;
    color: #fff;
    align-items: center;
}

ul li {
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    width: 100%;
    height: 75vh;
    background-image: radial-gradient(61.83% 61.83% at 50% 50%, rgba(225, 186, 110, 0.00) 0%, rgba(225, 186, 110, 0.70) 100%), url('/src/img/potato.png');
    background-size: cover;
    background-position: center;
}

.navbar {
   justify-content: space-around;
}

.logo {
    margin-top: 15px;
}

.mainText {
    font-size: 112px;
    font-weight: 900;
    text-align: center;
    color: #FFF;
    margin: 105px 0 73px 0;
    text-transform: uppercase;
    line-height: normal;
    font-style: normal;
}

.mainTextMobile {
    display: none;
    font-size: 90px;
    font-weight: 900;
    text-align:left;
    color: #FFF;
    margin: 105px 0 73px 0;
    text-transform: uppercase;
    line-height: normal;
    font-style: normal;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.itemContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 450px;
    /* background-color: red; */
    margin-bottom: 50px;
}

.subContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    height: 450px;
}

.subContainer .item1 {
    background-image: url('./img/items/stolovy.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 50%;
}

.subContainer .itemText {
    color: #343434;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.subContainer .itemTextVal {
    color: #ECBA46;
    text-align: center;
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.itemContainer .sliderLeft {
    cursor: pointer;
    background-image: url('./img/sliderleft.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.itemContainer .sliderRight {
    cursor: pointer;
    background-image: url('/src/img/sliderright.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.videoContainer {
    width: 95%;
    height: auto;
    border-radius: 20px;
    background: #35312D;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
}

.videoContainer .video {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #201E1C;
    width: 70%;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 140px;
}

.player {
    display: block;
    background-image: url(./img/player.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 75px;
    height: 75px;
}

.videoContainer h1 {
    margin-top: 50px;
    color: #FFF;
}

.aboutUs {
    position: relative;
    /* background: red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.containerAbout {
    display: flex;
    /* background: green; */
    width: 60%;
    height: auto;
    min-height: 450px;
}

.containerAbout .cook {
    background: url(./img/cook.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
}

.containerAbout .text {
    width:100%;
    /* margin-bottom: 135px; */
}

.containerAbout h5 {
    font-family: Monsterrat, 'sans-serif';
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerContacts {
    display: flex;
    border-radius: 20px;
    background: #35312D;
    width: 70%;
    height: 400px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center
}

.containerContacts .btn {
    border: none;
    color: #000000;
    border-radius: 130px;
    background: #ECBA46;
}

.containerContacts .btn:hover {
    background: #FFD573;
}

.containerContacts h6 {
    margin: 50px 0 40px 0;
    font-family: Monsterrat, sans-serif;
    font-weight: 600;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    color: white;

}

.form-group {
    position: relative;
    margin-bottom: 20px ;
}

.input-label {
    position: absolute;
    /* top: 17px; */
    top: 30%;
    left: 10%;
    transition: all 0.2s ease;
    pointer-events: none;
    color: #746B61;
}

.form-control {
    width: 400px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #746B61;
    background-color: transparent;
}

.form-control:focus {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #FFF;
}

.form-control:focus + .input-label,
.form-control:not(:placeholder-shown) + .input-label {
    top: 5px;
    left: 15px;
    font-size: 12px;
    color: #746B61;
}

.mobileNavHover {
    padding-left: 25px;
    flex-direction: column;
    display: none;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    align-items: flex-rgb(233, 0, 0)t
}

.mobileNavHover .potato {
    margin-top: 25px;
}

.mobileNavHover h1 {
    color: #35312D;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.nav {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s ease;
    margin-top: 35px;
}

.nav .btn {
    border: none;
    color: #000000;
    border-radius: 130px;
    background: #ECBA46;
}

.nav .btn:hover {
    background: #FFD573;
}

@media (max-width: 360px) {
    /* body {
        background-color: green;
    } */

    .subContainer {
        max-width: 50%;
    }

    .subContainer .itemText {
        font-size: 15px;
    }

    .subContainer .itemTextVal {
        font-size: 50px;
        font-weight: 300;
    }

    .mobileNav {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 40px;
        margin-right: 20px;
        cursor: pointer;
    }

    .videoContainer {
        width: 100%;
        height: 400px;
    }

    h1 {
        font-size: 40px;
    }

    .videoContainer .video {
        width: 80%;
        height: 400px;
    }

    .video .player {
        scale: 0.5;
    }

    .navbar {
        display: none;
    }

    .mainText {
        display: none;
    }

    .mainTextMobile {
        display: block;
    }

    .form-control {
        width: 90%;
    }

    .containerContacts h6 {
        font-size: 20px;
    }

    footer h2 {
        font-size: 30px;
    }

    .text h5 {
        color: #343434;
        text-align: center;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 161.5%; /* 19.38px */
    }

    .containerContacts {
        width: 100%;
        border-radius: 0;
    }

    .containerAbout .cook {
        display: none;
        position:-webkit-sticky;
        opacity: 0.4;
        background: url('./img/cook.svg'), lightgray -561px -2043px / 662.069% 732% no-repeat;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .aboutUs .cook {
        position: absolute;
        opacity: 0.4;
        background: url('./img/cook.svg'), rgb(255, 255, 255) -561px -2043px / 662.069% 732% no-repeat;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        
    }

}